@import '~antd/dist/antd.css';
  .circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: skyblue;
    animation: App-logo-spin infinite 20s linear;
    margin: 0 auto;
    text-align: center;
  }
@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
